name: production deployment
on:
    push:
        branches:
            - main

jobs:
    web-deploy:
        name: Deploy to Production Server
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - name: Get latest code
              uses: actions/checkout@v4

            - name: Debug Secrets
              run: |
                echo "FTP_HOST is set, length: ${{ secrets.FTP_HOST }}"

            - name: Deploy to production server
              uses: SamKirkland/FTP-Deploy-Action@v4.3.6
              with:
                  server: ${{ secrets.FTP_HOST }}
                  username: ${{ secrets.FTP_USER }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  security: strict
